@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
.card {
  background-color: #13151b;
  width: 33%;
  height: 500px;
  margin: 0% 2% 2% 2%;
  padding: 1%;
  text-align: center;
  box-shadow: 0px 0px 10px #0b0c0f;
  border-radius: 3%;
}
.card h1 {
  font-size: 1.2rem;
  font-family: "Source Sans Pro", sans-serif;
  margin: 1% 0;
}
.tasks {
  height: 450px;
  overflow-y: scroll;
}
.tasks::-webkit-scrollbar {
  width: 5px;
}

.tasks::-webkit-scrollbar-track {
  background: transparent;
}

.tasks::-webkit-scrollbar-thumb {
  background: #5f5e65;
}

.tasks::-webkit-scrollbar-thumb:hover {
  background: #5f5e65;
}
.btn {
  color: #fabb18;
  font-size: 2rem;
  background-color: #191c24;
  /* padding: 0.5% 0%; */
  border-radius: 500px;
  border: none;
  width: 100%;
  cursor: pointer;
  margin: 2% 0;
}
.no__cards {
  margin: 4% 0;
  color: #5f5e65;
}
