/* #FEB95A#F2C8EE#A9DED8#EE786C */
.note {
  max-width: 27%;
  margin: 2%;
  padding: 1% 1% 1% 2%;
}
.note:nth-child(odd) {
  background-color: #feb95a;
}
.note:nth-child(even) {
  background-color: #a9ded8;
}
.note:nth-child(4n) {
  background-color: #ee786c;
}
.note:nth-child(5n) {
  background-color: #f2c8ee;
}
.note:nth-child(odd) {
  transform: rotate(2deg);
}
.note:nth-child(even) {
  transform: rotate(-3deg);
}
.note:nth-child(3n) {
  transform: rotate(1deg);
}
.note:nth-child(5n) {
  transform: rotate(-4deg);
}
.note button {
  color: #fabb18;
  font-size: 1rem;
  background-color: #191c24;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 5% 0 1% 0;
  padding: 2%;
}
button:hover {
  background-color: black;
}
.btn {
  text-align: center;
}
