.hamburger {
  color: #fabb18;
  margin: 1% 0 0 0.5%;
  font-size: 1.2rem;
  position: absolute;
  text-align: center;
  padding: 1%;
  width: 20px;
  height: 20px;
}

.hamburger:hover {
  background-color: #191c24;
  cursor: pointer;
  border-radius: 50%;
}
